**Set**
* index ile erişilemezler. Unordered yani sıralı değillerdir. (Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.)(0.indexteki değeri getir diyemeyiz. Yeri değişir çalıştırdıkça)
* Set'ler değiştirilemezler yani immutable. Tuple'dan farkı sete yeni eleman ekleyip çıkarabiliyoruz. Ama setin içerisindeki bir elemanı DEĞİŞTİREMİYORUZ.
* {} parantez içerisinde tanımlanır. Elemanlar virgül ile ayrılır.
* Farklı tipte veri taşımaya izin verir.
* Aynı değere sahip iki eleman YER ALAMAZ. DUPLİCATE veri taşımazlar

In [5]:
int_set= {1, 2, 3, 4}
string_set= {"Ruveyda", "Ece", "Merve", "Zeynep", "Bilge"}
mix_set= {12, "Sude", 10234.6, True}

In [7]:
print(mix_set)
print(string_set)

{True, 10234.6, 'Sude', 12}
{'Zeynep', 'Bilge', 'Merve', 'Ece', 'Ruveyda'}

In [8]:
print(type(mix_set))

<class 'set'>

In [12]:
my_set= {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [11]:
my_set= {9, 4, 5, 4, 9, 6}
print(my_set)

{9, 4, 5, 6}

In [17]:
my_list = [3, 8, 2, "Ece","Ece", True, 8, False, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[3, 8, 2, 'Ece', 'Ece', True, 8, False, 9, 19, False, 3, 2]
{False, True, 2, 3, 8, 9, 'Ece', 19}

In [18]:
#Set içeriisinde list kullanımı. Liste değiştirilebilir old. için set içerisinde kullanılamazlar.
my_set = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}
print(my_set)

TypeError: unhashable type: 'list'

In [19]:
#Set içeriisinde tuple kullanımı. Tuple değiştirilemez old. için set içerisinde kullanılabilir.
my_set = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}
print(my_set)

{'Ayşe Nur', 'Başak', ('Müzeyyen', 'İrem', 'Nihal'), 'Duygu'}

Boş bir set oluşturma

Boş bir liste ve tuple oluşturma
* my_list = []
* my_tuple = ()

Setlerde durum farklı

In [20]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [22]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

**Elemanlara Erişim**

In [23]:
movies= {"How I met your mother", "The big bang theory", "Breaking Bad", "Friends", "Person of Interest"}

for item in movies:
    print(item)

Friends
How I met your mother
Person of Interest
The big bang theory
Breaking Bad

Set içerisinde elaman kontrolü(0. indexe git eriş diyemiyoruz çünkü index ile erişilemezdir setler)

In [24]:
movies= {"How I met your mother", "The big bang theory", "Breaking Bad", "Friends", "Person of Interest"}

if "Harry Potter" in movies: print("Diziler içerisinde mevcut")
else: print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [25]:
print("Dizi setinin uzunluğu", len(movies))

Dizi setinin uzunluğu 5

Bir Set'e ELeman Ekleme

* add() ile set'e yeni bir eleman eklenir.
* update() ile de (extend'deki gibi birden fazla) birden fazla eleman ekleme işleme yapılır.

In [26]:
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}
books.add("Bu İş Asla Tutmaz")
print(books)

{'Merhaba Dünya', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Bu İş Asla Tutmaz', 'Serenad', 'Harry Potter'}

In [27]:
#UPDATE

books.update(["Körlük", "İnce Memed"])
print(books)

{'İnce Memed', 'Körlük', 'Merhaba Dünya', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Bu İş Asla Tutmaz', 'Serenad', 'Harry Potter'}

Bir Set içerisinden Eleman Silme

* remove()
* discard()
* pop()
* clear()
* del set

In [36]:
#remove()

books={'Merhaba Dünya', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Bu İş Asla Tutmaz', 'Serenad', 'Harry Potter'}

books.remove("Harry Potter")
books  #tek çıktı alacağımızda print yerine sadece books şeklinde yazarak yazdırabiliriz

{'Bu İş Asla Tutmaz',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [31]:
#olmayan bir elemanı silmeye çalıştığımızda hata verir.
books={'Merhaba Dünya', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Bu İş Asla Tutmaz', 'Serenad', 'Harry Potter'}

books.remove("Harry")
books

KeyError: 'Harry'

In [34]:
#discard -> remove'dan tek farkı olmayan elemanı silmeye çalışırken hata alınmaz
books.discard("Müşterinizin Beynindeki Satın Alma Düğmesine Basmak")

books

{'Bu İş Asla Tutmaz', 'Harry Potter', 'Merhaba Dünya', 'Serenad'}

In [37]:
books.discard("Harry Potter")

books

{'Bu İş Asla Tutmaz',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [45]:
#pop() setten rastgele bir elemanı çıkarmak istediğimizde kullanılır
#olmayan bir elemanı silmeye çalıştığımızda hata verir.
books={'Merhaba Dünya', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Bu İş Asla Tutmaz', 'Serenad', 'Harry Potter'}
books.pop()

books

{'Bu İş Asla Tutmaz',
 'Harry Potter',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad'}

In [46]:
#clear() -> set içerisindeki tüm elemanları silme ve boş bir set oluşturur(listedeki clear gibi)
books.clear()
books

set()

In [47]:
#del() -> seti tamamen siler ve sete erişemeyiz(listedeki gibi)

del books #(set ismi. )şeklinde değil de del set ismi şeklinde kullanılır

books

NameError: name 'books' is not defined

Set üzerinde kullanabileceğimiz operatörler

* union() -> |
* intersection() -> &
* difference() -> -
* symmetric_difference() -> ^

**Union()**

İki seti birleştirmek için kullanılır.

In [48]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 | my_set2

my_set3   #2 tane olan isimleri 1 kere yazdırır.Union kümelerdeki birleşim gibi

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [49]:
my_set4 = my_set1.union(my_set2)

my_set4

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Intersection**

 İki küme içerisinde yer alan ortak elemanları döndürür. (Kesişim gibi)

In [50]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 & my_set2 #(operatörle gösterim, ortak elemanları aldı)
my_set3

{'Ezgi', 'Merve'}

In [51]:
my_set4 = my_set1.intersection(my_set2)

my_set4

{'Ezgi', 'Merve'}

intersection_update

In [52]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}


my_set1.intersection_update(my_set2)
my_set1  #set1'e 2 kümenin ortak elemanlarını yüklemiş oluyor.

{'Ezgi', 'Merve'}

**Difference**
(Kümelerdeki fark gibi)

In [53]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2 #(set1'in set'2den farkı)

my_set3

{'Asena', 'Aysel', 'Emre'}

In [54]:
my_set1.difference(my_set2)

{'Asena', 'Aysel', 'Emre'}

In [55]:
my_set1

{'Asena', 'Aysel', 'Emre', 'Ezgi', 'Merve'}

In [56]:
my_set1.difference_update(my_set2)

my_set1  #aradaki farkı bul, kullanmak istediğin sete update et

#update'de hangi kümeyi önde kullanıyosanız varolan bir set olarak eşitleniyor
yeni bir set olarak eşitleniyor

{'Asena', 'Aysel', 'Emre'}

In [57]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [58]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set2

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [59]:
my_set1.symmetric_difference_update(my_set2)

my_set1 #set1'e update edildiği için  behice kübra da geldi

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**Kopyalama İşlemleri**
* copy()
* =

In [60]:
#atama(=) operatörü ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [61]:
#copy metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan") #myset'e yaptığımız ekleme myset2'yi etkilemedi copy ile yaptığımızda
my_set2

{18, 'Ahmet', 'Sezen', True}

In [62]:
#set metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan") #set ve copy ile eklemelerde bağımsız oluyor setler birbirinden
# = operatöründe ise 2 set bağımlı oluyor. Ynai yapılan değişiklikler her 2 seti de etkiliyor
my_set2

{18, 'Ahmet', 'Sezen', True}

subset(alt küme) and superset(üst küme)

In [63]:
languages1 = {"Python", "c#", "java", "kotlin", "dart"}
languages2 = {"kotlin", "java"}

print(languages1.issuperset(languages2)) #l1, l2nin üst kümesi mi
print(languages2.issubset(languages1)) # l2, l1in alt kümesi mi

True
True

isdisjoint() -> iki kümenin ayrık kümeler olup olmadığını kontrol eder. Ayrık ise True döndürür, değil ise False döndürür

In [66]:
languages1 = {"Python", "c#", "java", "kotlin", "dart"}
languages2 = {"flutter"}

print(languages1.isdisjoint(languages2)) #ortak eleman olmadığı için ayrık kümedir

True

Frozenset -> değişmez bir set oluşturmak istenildiğinde kullanılır.

In [67]:
frozen_set = frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [69]:
frozen_set.add(6)  #6yı eklemez hata verir. Çünkü frozenset ile değişmez bir set oluşturduk, ekleme çıkarma yapamayız.

AttributeError: 'frozenset' object has no attribute 'add'

In [70]:
#iki set içerisinde yer alan benzersiz elemanları ekrana basalım
my_set1 = {10, 20, 30, 40, 50}
my_set2 = {40, 50, 60, 80}

print(my_set1.symmetric_difference(my_set2))

{10, 80, 20, 60, 30}

In [72]:
#Bir listenin tüm elemanlarını bir sete ekleme işlemini yapalım
my_list = [1, 2, 9, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [76]:
#Bir set içerisinde yer alan çift sayıları sil

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = []
for item in my_set:
    if item % 2 == 0:
        my_list.append(item)  #çift sayıları bir listeye ekledik
      

for i in my_list:
      my_set.remove(i) #sonrada çift sayıları setten kaldırdık. Remove'ı direkt döngü içerisinde kullandığımızda hata veriyor. 

my_set

{1, 3, 5, 7, 9}

In [79]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = [i for i in my_set if i % 2 == 0] #i değerlerini al ve myset'e liste olarak ekle

my_list #yukarıdaki çözümün kısa hali

[2, 4, 6, 8, 10]

In [80]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = [i for i in my_set if i % 2 == 0] #i değerlerini al ve myset'e liste olarak ekle

for i in my_list:
    my_set.remove(i)

my_set

#list comprehension diye geçer bunla ilgili örnek çöz

{1, 3, 5, 7, 9}